@use "../.../../../shared/styles/v";

.connected-drawings-list-container, .unconnected-drawings-list-container  {
    grid-area: 2 / 1 / 3 / 2;
    padding: 1rem;

    display: flex;
    border: 2px dashed v.$blue-normal;
    overflow: auto;

    .connected-drawings-list, .unconnected-drawings-list {
      width: 100%;
      max-width: 800px;
      height: max-content;

      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      list-style-type: none;
    }
    .connected-drawing {
      padding: 0.5rem 1rem;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: .5rem;
      cursor: pointer;

      outline: 2px solid v.$blue-light;
      border-radius: 5px;

      .top-block {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          gap: 0.5rem;
          
          .wrapper {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              gap: 0.5rem; 
          }
      }

      .bottom-block {
          padding: 1rem;
          display: none;
          cursor: default;

          &.active {
              display: flex;
          }
      }

      .switch-connect-status-button, .connected-drawing-properties-button {
          padding: .2rem;
          display: flex;

          transition: all .2s ease-in-out;

          background-color: white;
          border: none;
          border-radius: 50%;
          outline: 1px solid v.$blue-light-active;
          cursor: pointer;

          .arrow-logo {
            transform: rotate(-90deg);
            &.connected {
              transform: rotate(90deg);
            }
          }

          svg {
            transform: rotate(90deg);
            path {
                stroke: v.$blue-normal;
                stroke-width: 1px;
            }
          }

          &:hover {
              background-color: v.$blue-light-active;
          }
      }

      .connected-drawing-properties-button {
        svg {
            transition: inherit;
            transform: rotate(0);

            path {
                stroke: v.$blue-normal;
                stroke-width: 1px;
            }
        }
        &.active {
            svg {
                transform: rotate(90deg);
            }
        }
      }
    }
}
.unconnected-drawings-list-container {
  grid-area: none;
  max-height: 30svh;
  overflow: auto;
}