.custom-marker {
  display: grid;
  grid-template-areas: 
    ". sign-top ."
    "sign-left content sign-right"
    ". sign-bottom ."
  ;

  &.hidden {
    display: none;
  }

  .wrapper {
    grid-area: content;

    z-index: 2;

    display: flex;
    align-items: center;
    gap: .5rem;

    .icon {
      path {
        fill: var(--icon-color);
      }
      &.point,
      &.football-pitch,
      &.shop,
      &.city,
      &.dog {
        path {
          fill: none !important;
          stroke: var(--icon-color);
        }
      }
    }
  }

  .mysign {
    padding: .7em;
    justify-self: center;
    align-self: center;

    &.left {
      grid-area: sign-left;
      transform: translateX(0.9em) rotate(45deg);
    }
    &.top {
      grid-area: sign-top;
      transform: translateY(0.9em) rotate(45deg);
    }
    &.right {
      grid-area: sign-right;
      transform: translateX(-0.9em) rotate(45deg);
    }
    &.bottom {
      grid-area: sign-bottom;
      transform: translateY(-0.9em) rotate(45deg);
    }
  }
}
