@use "featurePanels";

.page.open-map {
    width: 100%;
    min-height: 100svh;

    display: grid;
    grid-template-columns: max-content max-content repeat(2, 1fr);
    grid-template-rows: max-content repeat(2, 1fr) max-content;
}
